[submodule "mxnet-lambda"]
	path = mxnet-lambda
	url = https://github.com/awslabs/mxnet-lambda.git
[submodule "ps_lambda/incubator-mxnet"]
	path = incubator-mxnet
	url = https://github.com/apache/incubator-mxnet
